name: token, gogo!

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
      - name: Make env file
        uses: SpicyPizza/create-envfile@v1.3
        with:
          envkey_DEBUG: false
          envkey_SOME_API_KEY: "123456abcdef"
          envkey_SECRET_KEY: ${{ secrets.BOT_TOKEN }}
          some_other_variable: foobar
          file_name: .env
          fail_on_empty: false
      - name: Install Dependencies
        run: npm i
      - name: Run Server
        run: npm run start
